<form>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="artist">Artist:</label>
    <input type="text" class="form-control" id="artist">
  </div>
  <div class="form-group">
    <label for="album">Album:</label>
    <input type="text" class="form-control" id="album">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
