<h2>Create new Artist</h2>
<form class="artistForm" action="/artist" method="post">
  <input type="text" name="artist" placeholder="Artist">
  <input name="imageUrl">
  <input name="genres">
  <input type="button" class="searchSubmit" value="search">
  <input type="submit" class="Submit">
</form>
